* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v6_0 {
    width: 334px;
    height: 336px;
    /* background: url("../images/v6_0.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v1_2 {
    width: 210px;
    height: 210px;

    /* background: rgb(255, 255, 255); */
    background: lightgray;
    opacity: 1;
    position: absolute;
    top: 68px;
    left: 68px;
    border-radius: 50%;
  }
  .v1_3 {
    width: 45px;
    height: 45px;
    background: rgb(255, 255, 255);
    opacity: 60%;
    position: absolute;
    top: 23px;
    left: 68px;
    border-radius: 50%;
  }
  .v1_4 {
    width: 45px;
    height: 45px;
    background: rgb(255, 255, 255);
    opacity: 60%;
    position: absolute;
    top: 0px;
    left: 145px;
    border-radius: 50%;
  }
  .v1_5 {
    width: 45px;
    height: 45px;
    background: rgb(255, 255, 255);
    opacity: 60%;
    position: absolute;
    top: 23px;
    left: 230px;
    border-radius: 50%;
  }
  .v1_6 {
    width: 45px;
    height: 45px;
    background: rgb(255, 255, 255);
    opacity: 60%;
    position: absolute;
    top: 77px;
    left: 279px;
    border-radius: 50%;
  }
  .v1_7 {
    width: 45px;
    height: 45px;
    background: rgb(255, 255, 255);
    opacity: 60%;
    position: absolute;
    top: 146px;
    left: 289px;
    border-radius: 50%;
  }
  .v1_8 {
    width: 45px;
    height: 45px;
    background: rgb(255, 255, 255);
    opacity: 60%;
    position: absolute;
    top: 218px;
    left: 279px;
    border-radius: 50%;
  }
  .v1_9 {
    width: 45px;
    height: 45px;
    background: rgb(255, 255, 255);
    opacity: 60%;
    position: absolute;
    top: 268px;
    left: 226px;
    border-radius: 50%;
  }
  .v1_10 {
    width: 45px;
    height: 45px;
    background: rgb(255, 255, 255);
    opacity: 60%;
    position: absolute;
    top: 291px;
    left: 145px;
    border-radius: 50%;
  }
  .v1_11 {
    width: 45px;
    height: 45px;
    background: rgb(255, 255, 255);
    opacity: 60%;
    position: absolute;
    top: 268px;
    left: 68px;
    border-radius: 50%;
  }
  .v1_12 {
    width: 45px;
    height: 45px;
    background: rgb(255, 255, 255);
    opacity: 60%;
    position: absolute;
    top: 218px;
    left: 15px;
    border-radius: 50%;
  }
  .v1_13 {
    width: 45px;
    height: 45px;
    background: rgb(255, 255, 255);
    opacity: 60%;
    position: absolute;
    top: 146px;
    left: 0px;
    border-radius: 50%;
  }
  .v1_14 {
    width: 45px;
    height: 45px;
    background: rgb(255, 255, 255);
    opacity: 60%;
    position: absolute;
    top: 77px;
    left: 15px;
    border-radius: 50%;
  }
  